ons-page.splashpage ons-toolbar div.center {
  font-weight: bold;
  font-size: 26px;
}

@media screen and (orientation:landscape) {

  .splash-image {
    max-height:400px;
    object-fit:cover;
  }

}

#root ons-page .splash-page-container {

  .splash-image {
    width:100%;
    display:block;
  }

  .buttons {
    display:flex;
    flex-direction:row;
    align-items:stretch;
    padding:10px;
    border-width:1px 0 0 0;
    border-style:solid;
    border-color:#e7e7e7;

    ons-button:first-child {
      margin-right:5px;
    }

    ons-button:last-child {
      margin-left:5px;
    }

    ons-button {
      flex:1;
      background-color:#a08952;

      ons-icon {
        font-size:16px;
        padding-right:5px;
        vertical-align:bottom;
      }
    }
  }

  .splash-message {
    padding:20px;
    text-align:center;

    h1 {
      margin:0 0 20px 0;
      padding:0;
      font-size:1.5em;
    }

    p {
      line-height: 160%;
    }
  }

  .projects {
    padding:10px 0 20px 0;
    text-align:center;

    h2 {
      font-size:1.3em;
      padding:0 0 10px 0;
      margin:0;
    }

    ol {
      margin:0;
      padding:5px 0 20px 0;
      list-style-type:none;

      li ons-button {
        color:#66562f;
      }
    }

  }

  footer {
    text-align:left;
    font-size:14px;
    background-color:#504b44;
    color:#fff;
    border-top:none;

    a {
      color:#cbcbcb;
    }
  }

}

#root ons-page.desktop main {

  .splash-image {
    max-height:480px;
    object-fit:cover;
  }

  ons-button {
    cursor:pointer;
  }

  ons-button:hover {
    text-decoration:underline;
  }

  .content {
    padding:20px;
    position:relative;
    top:-170px;
    background-color:rgba(255, 255, 255, 0.65);
  }

}
