.profile {

  @media screen and (orientation:landscape) {

    .description {
      padding:40px;
      line-height:170%;
    }

  }

  .description {
    padding:20px;
    line-height:150%;
  }

  .image-carousel {
    width:100%;
    box-sizing:border-box;
  }

  .related {
    padding-bottom:30px;

    ons-list-header {
      background:none;
    }

    ons-icon {
      font-size:20px;
      margin-right:8px;
      vertical-align:bottom;
      
    }

    ons-list-header {
      font-size:17px;
      color:#66562f;
      padding:20px 20px 5px 22px;
      background-color: #fff;
    }

    ons-list-item {
      padding:5px 20px;

      div {
        padding:10px;
        border-radius:3px;
        background-color:#ebe8e1;
        border:1px solid #a08952;
      }
    }

  }

}

.profile.place {

  .map-container {
    width:100%;
    position:relative;

    @media screen and (orientation:landscape) {

      .leaflet-container {
        min-height:200px;
        height:40vw;
      }

    }

    .leaflet-container {
      height:200px;
    }

  }

}

.profile.place.desktop {

  .map-container .leaflet-container {
    height:300px;
  }

  .description {
    padding: 35px 40px;
    line-height: 170%;
  }

}