#root {
  
  .search {
  
    .search-results {
      width:100%;
      height:100%;
    }

  }

  ons-input {
  
    input[type=text] {
      height:28px;
      color:#fff;
      border-bottom:1px solid #fff;
      background-image:none;
    }
    
    span {
      color:rgba(255, 255, 255, 0.5);
    }

  }

}