#root ons-page.page.desktop.tour-startpage-desktop {
  
  .tour-desktop-header {
    display:flex;
    flex-direction:row;

    .tour-image {
      position:relative;
      flex:1;

      img {
        width:100%;
        height:350px;
        object-fit:cover;
      }

    }

    .tour-overview-map {
      position:relative;
      flex:1;
    }

  }

  .tour-description {
    padding:50px;
    line-height:145%;
  }

  .start-tour {
    text-align:center; 

    ons-button {
      width:300px;
      margin:15px 0;
      background-color:#a08952;
    }

  }

}