#root { 
  height:100%;

  a {
    color:#44391f;
  }
  
  ons-page {
    font-family:'Montserrat', sans-serif;

    .page__background {
      background-color:#fff;
    }

    .page-container {
      padding:20px;
      line-height:160%;

      h1 {
        font-size:19px;
        line-height:165%;
        padding-bottom:20px;
      }
    }

    footer {
      border-top:1px solid #d3d3d3;
      background-color:#dfdfdf;
      padding:20px;
      position:relative;
      text-align:center;

      img {
        max-width:240px;
      }
    }

    ons-toolbar {
      background-color:#a08952;
      display:flex;
      flex-direction:row;

      div.left.toolbar__left, div.right.toolbar__right {
        flex:0;
      }

      div.center.toolbar__center {
        flex:1;
        padding:0 10px;
        overflow:hidden;
        text-overflow:ellipsis;
      }

      div, ons-toolbar-button {
        color:#fff;
      }

      ons-back-button svg {
        fill:#fff;
      }
    
    }

    .image-group {
      padding: 10px 20px 20px 20px;

      .image-wrapper {
        margin:8px;
        position:relative;
        display:inline-block;
    
        img {
          width:145px;
          height:145px;
          object-fit:cover;
          border-radius:2px;
          cursor:pointer;
          display:block;
        }

        .dim-mask {
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          pointer-events:none;
          background-color:#000;
          opacity:0;
          border-radius:2px;
        }

      }

      .image-wrapper:hover .dim-mask {
        opacity:0.25;
      }

    }

  }
  
  .clicktrap {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:transparent;
    z-index:99999;
  }

}

#root ons-page.page.desktop {

  .subtitle {
    font-weight:normal;
  }

  ons-button {
    cursor:pointer;

    * {
      cursor:pointer;
    }    

  }

  .fill-height {
    min-height:100%;
    display:flex;
    flex-direction:column;
    flex:1;
  }

  .page-container {
    padding:30px 50px;
  }

  .page__content {
    display:flex;
    flex-direction:column;

    .page__content {
      display:block;
    }

  }

  header {
    padding:15px;
    background-color:#a08952;
    color:#fff;

    h1 {
      margin:0;
      padding:0;
    }

  }

  .page-wrapper {
    display:flex;
    flex:1;
    position:relative;

    aside {
      position:absolute;
      top:0;
      bottom:0;
      width:280px;
      overflow-y:auto;
      font-size:15px;

      li {
        line-height:140%;
      }

      .page__background {
        background-color:#a089529c;
      }

      .list-item__center {
        background-image:none;
        border:none;
        cursor:pointer;

        * {
          cursor:pointer;
        }
      }

      ons-list-header {
        background-color: #ebe8e1;
        color: #333;
        background-image: none;
        padding: 15px;
      }

      ons-list-item {
        padding:4px 14px;
      }

      ons-list.list {
        background-color:transparent;
        background-image:none;
      }

      ons-radio .radio-button__checkmark::after {
        border-color:#000;
      }

    }

    main {
      margin-left:280px;
      width:100%;
    }
  
  }

}

.ril-caption {
  padding:14px;
  font-size:19px;
  font-family:Arial, Helvetica, sans-serif;
}