#root ons-page {

  .page__background {
    background-color:#fff;
  }

  ons-toolbar {
    background-color:#a08952;

    div, ons-toolbar-button {
      color:#fff;
    }
  }

}

.profile {

  .description {
    padding:20px;
    line-height:150%;
  }

}

img {
  max-height:200px;
  padding:6px 3px;
}

.profile.place {

  .map-container {
    width:100%;
    position:relative;

    .leaflet-container {
      height:200px;
    }
  }

}