#root ons-page {

  .page__background {
    background-color:#fff;
  }

  ons-toolbar {
    background-color:#a08952;

    div, ons-toolbar-button {
      color:#fff;
    }

    ons-back-button svg {
      fill:#fff;
    }
  
  }

}

img {
  max-height:200px;
  padding:6px 3px;
}
